
<div *ngIf="isSystemMessage()" class="message system">
    <div style="width:100%">{{text}}</div>
</div>

<div *ngIf="!isSystemMessage()" class="message {{type}}">
    <p-card subheader="{{user}}" [style]="{'width': '100%', 'background-color':getColor()}" styleClass="ui-card-shadow">
        <div>{{text}}</div>
        <p-footer>
            <div style="text-align: right;">
                <span style="font-size: 0.8em;">{{date | date: 'dd/MM/yyyy HH:mm:ss'}} &nbsp;</span>
                <i *ngIf="isSent()===true"  class="pi pi-check" style="font-size: 0.8em; color:green"></i>
                <i *ngIf="isSent()===false" class="pi pi-clock" style="font-size: 0.8em; color:grey"></i>
            </div>
        </p-footer>
    </p-card>
</div>